/* 
CSS defines three types of gradients:

  * Linear Gradients (goes down/up/left/right/diagonally)
  * Radial Gradients (defined by their center)
  * Conic Gradients (rotated around a center point) 

Syntax

  background-image: linear-gradient(direction, color-stop1, color-stop2, ...);
*/

.content {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 0.3rem;
  justify-content: center;
  align-content: center;
  margin-bottom: 50px;
}

.item {
  border: 1px solid black;
  border-radius: 10px;
  width: 10rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item1 {
  background: linear-gradient(red, yellow);
}
.item2 {
  background: linear-gradient(to right, red, yellow);
}
.item3 {
  background: linear-gradient(to bottom right, red, yellow);
}
.item4 {
  background: linear-gradient(27deg, red, yellow);
}
.item5 {
  background: linear-gradient(red, yellow, green);
}
.item6 {
  background: linear-gradient(red, yellow, green, blue, indigo, violet);
}
.item7 {
  background: linear-gradient(yellow 10%, blue 85%, green 90%);
}
.item8 {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(255, 0, 0));
}
.item9 {
  background: repeating-linear-gradient(yellow 0px, red 40px);
}
.item10 {
  background: repeating-linear-gradient(
    yellow 0px,
    yellow 20px,
    red 20px,
    red 40px
  );
}
.item11 {
  background: repeating-linear-gradient(
    45deg,
    yellow 0px,
    yellow 20px,
    red 20px,
    red 40px
  );
}
.item12 {
  background: repeating-linear-gradient(190deg, yellow 0px, red 40px);
}
